@import url('https://fonts.googleapis.com/css2?family=Asset&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.heading{ 
    font-family: 'Asset', serif;
    font-size: 3rem;
}

.body{
    font-family: 'Tinos', serif;
}